---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
  {%- if not item.data.draft and item.url and item.url != "" %}
    {%- set shouldInclude = true %}
    {%- if item.url.includes('/admin') or item.url.includes('/private') or item.url.includes('/test-') or item.url.includes('/webs-') or item.url.includes('/seo-example') or item.url.includes('/README') or item.url.includes('/assets/') or item.url.includes('/content/README') %}
      {%- set shouldInclude = false %}
    {%- endif %}
    
    {%- if shouldInclude %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- if item.url.startsWith('/nl/') %}
      {%- set enUrl = item.url | replace('/nl', '') %}
      {%- if enUrl == '' %}{% set enUrl = '/' %}{% endif %}
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ enUrl }}" />
    {%- else %}
      {%- set nlUrl = '/nl' + item.url %}
      {%- if item.url == '/' %}{% set nlUrl = '/nl/' %}{% endif %}
    <xhtml:link rel="alternate" hreflang="nl" href="{{ site.url }}{{ nlUrl }}" />
    {%- endif %}
    {%- if item.url.startsWith('/nl/') %}
      {%- set defaultUrl = item.url | replace('/nl', '') %}
      {%- if defaultUrl == '' %}{% set defaultUrl = '/' %}{% endif %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ defaultUrl }}" />
    {%- else %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ item.url }}" />
    {%- endif %}
    {%- if item.data.modified %}
    <lastmod>{{ item.data.modified | formatDate('en', 'iso') }}</lastmod>
    {%- elif item.date %}
    <lastmod>{{ item.date | formatDate('en', 'iso') }}</lastmod>
    {%- else %}
    <lastmod>{{ "now" | formatDate('en', 'iso') }}</lastmod>
    {%- endif %}
    <changefreq>{{ item.data.changefreq or 'monthly' }}</changefreq>
    <priority>{{ item.data.priority or (0.8 if item.url == '/' else (0.7 if item.url == '/nl/' else 0.5)) }}</priority>
  </url>
    {%- endif %}
  {%- endif %}
{%- endfor %}
</urlset>
