<!DOCTYPE html>
<html lang="{{ site.site.language or 'en' }}">
<head>
{% include "head.njk" %}
</head>
<body>
  <header>
    {% include "navigation.njk" %}
  </header>
  
  <main>
    {{ content | safe }}
  </main>
  
  {% include "footer.njk" %}
  
  <!-- Scripts -->
  <script src="/assets/scripts/main.js"></script>
</body>
</html>
